#
# Install rabbitMQ-server on your server
# Install python-amqplib  on your server
#

type amqp

validation False

protocol amqp
host localhost
user guest
password guest

exchange_name myname  
exchange_key  exp.test.this
exchange_type topic

accept .*
