Source: metpx-sundew
Section: misc
Priority: optional
Maintainer: Khosrow Ebrahimpour <khosrow.ebrahimpour@canada.ca>
Build-Depends: debhelper(>= 9), python, dh-python 
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
Homepage: http://metpx.sourceforge.net/

Package: python-metpx-sundew
Architecture: all 
Depends: python, python-paramiko, ksh, adduser
Description:MetPX is a WMO TCP/IP GTS message switching system 
 WMO - World Meteorological Organization, 
 GTS - Global Telecommunications System circuits based on TCP/IP. 
 Developed at the Canadian Meteorological Centre of Environment 
 Canada for our local use. 
 web site: http://metpx.sourceforge.net/
