#! /bin/sh -e 

. /usr/share/debconf/confmodule

# get the PX's home directory 
db_input medium metpx-sundew/home/location || true 
db_go
db_get metpx-sundew/home/location
echo PXHOME="$RET" > .metpx-sundew_env
echo export PXHOME >> .metpx-sundew_env


# get the db location
db_input medium metpx-sundew/db/location || true 
db_go
db_get metpx-sundew/db/location
echo PXDBLOCATION="$RET" >> .metpx-sundew_env
echo export PXDBLOCATION >> .metpx-sundew_env

# get the log location
db_input medium metpx-sundew/log/location || true
db_go
db_get metpx-sundew/log/location
echo PXLOGLOCATION="$RET" >> .metpx-sundew_env
echo export PXLOGLOCATION >> .metpx-sundew_env

