#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.

export DH_VERBOSE=1

build: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -rf build-stamp build
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	ls -1 $(CURDIR)/bin/ > $(CURDIR)/debian/metpx-sundew/var/log/px/.bin_dir_metpx_sundew
	ls -1 $(CURDIR)/tools/ > $(CURDIR)/debian/metpx-sundew/var/log/px/.tools_dir_metpx_sundew
	ls -1 $(CURDIR)/tools/toolLib/ > $(CURDIR)/debian/metpx-sundew/var/log/px/.tools_lib_dir_metpx_sundew
	
	# install the binary files in /usr/sbin
	for file in `find $(CURDIR)/bin/ -type f -maxdepth 1`; \
		do install -m 755 $$file   $(CURDIR)/debian/metpx-sundew/usr/sbin/; \
	done


	# install the tools in /usr/sbin
	for file in `find $(CURDIR)/tools/ -type f -maxdepth 1`; \
        	do install -m 755 $$file   $(CURDIR)/debian/metpx-sundew/usr/sbin/; \
	done

	# install the documentation in /usr/share/doc/px
	for file in `find $(CURDIR)/doc/ -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/usr/share/doc/px/; \
	done

	# the documentation subdirectory /usr/share/doc/px/fet
	for file in `find $(CURDIR)/doc/fet/ -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/usr/share/doc/px/fet/; \
	done

	# the documentation subdirectory /usr/share/doc/px/versions1
	for file in `find $(CURDIR)/doc/fet/ -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/usr/share/doc/px/version1/; \
	done

	# install the config files in /etc/px
	for file in `find $(CURDIR)/etc.sample/ -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/etc/px/; \
	done

	# the config subdirectory /etc/px/rx
	for file in `find $(CURDIR)/etc.sample/rx/ -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/etc/px/rx/; \
	done

	# the config subdirectory /etc/px/tx
	for file in `find $(CURDIR)/etc.sample/tx/ -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/etc/px/tx/; \
	done

	# install the library files in /usr/lib/px
	for file in `find $(CURDIR)/lib/ -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/usr/lib/px/; \
	done
	
	# the libary files in the subdirectory /usr/lib/px/importedLibs
	for file in `find $(CURDIR)/lib/ -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/usr/lib/px/importedLibs/; \
	done

	# the library files in the subdirectory /usr/lib/px/importedLibs/logging
	for file in `find $(CURDIR)/lib/ -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/usr/lib/px/importedLibs/logging/; \
	done

	# the libary files in the subdirectory /usr/lib/px/search
	for file in `find $(CURDIR)/lib/search -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/usr/lib/px/search/; \
	done

	# the libary files in the subdirectory /usr/lib/px/search/filelogs
	for file in `find $(CURDIR)/lib/search -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/usr/lib/px/search/filelogs/; \
	done

	# the libary files in the subdirectory /usr/lib/px/stats
	for file in `find $(CURDIR)/lib/stats -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/usr/lib/px/stats/; \
	done

	# the libary files in the subdirectory /usr/lib/px/stats/files
	for file in `find $(CURDIR)/lib/stats/files -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/usr/lib/px/stats/files/; \
	done

	 # install the library files located in tools/toolLib in /usr/lib/px
	for file in `find $(CURDIR)/tools/toolLib/ -type f -maxdepth 1`; \
		do install -m 644 $$file $(CURDIR)/debian/metpx-sundew/usr/lib/px/; \
	done

	echo CURDIR=$CURDIR >> .metpx-sundew_env
	echo export CURDIR >> .metpx-sundew_env

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdebconf -a
	dh_installdocs -a 
	dh_installchangelogs -a
	dh_strip -a
	dh_compress -a 
	dh_fixperms -a
	dh_python -a
	dh_installdeb -a 
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
